.header {
    /* background: #FFAB08; */
    background: unset;
    background-size: 611px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 24px 0 30px;
    position: relative;
}

.container-header_container img {
    margin: 22px auto;
}

.header-logo {
    width: 150px;
    color: #fff;
    margin: 0 auto 24px;
}

.header-title_container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
}

.header-bg {
    position: absolute;
    background: #FFAB08;
    z-index: 0;
    width: 200%;
    height: 120%;
    top: -21%;
    left: -50%;
    border-radius: 100%;
}

.container-header_container {
    z-index: 1;
    position: relative;
}

img.header_burger {
    width: 100%;
    max-width: 300px;
}

.header_title_text {
    display: block;
    font-weight: 800px;
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 16px;
}

.header_title_text-red {
    color: #ff5c00;
}

span.header_title_text.header_title-red {
    color: red;
}

.header_appeal {
    font-size: 12px;
    line-height: 16px;
}

@media (min-width: 480px) {
    .header {
        background-size: 1400px;
        padding-bottom: 44px;
        margin-bottom: 30px;
    }

    .header_container {
        max-width: 480px;
    }

    .header-title_container {
        padding-bottom: 0;
        padding-left: 180px;
        padding-top: 27px;
        text-align: left;
        background-position: left;
        background-size: contain;
        max-width: 190px;
    }
}

@media (min-width: 768px) {
    .header {
        background-size: 2540px;
    }

    .header_container {
        max-width: calc(562px + var(--padding-container) * 2);
    }

    .header-title_container {
        padding-left: 237px;
        min-height: 229px;
    }

    .header_title_text {
        font-size: 36px;
        margin-bottom: 26px;
    }
}

@media (min-width: 1024px) {
    .header {
        background-size: 2880px;
        padding-bottom: 63px;
        margin-bottom: 40px;
    }

    .header_container {
        max-width: calc(764px + var(--padding-container) * 2);
    }

    .header-title_container {
        padding-top: 46px;
        padding-left: 326px;
        min-height: 326px;
    }

    .header_title_text {
        font-size: 50px;
        margin-bottom: 52px;
    }

    .header_appeal {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (min-width: 1360px) {
    .header_container {
        max-width: calc(784px + var(--padding-container) * 2);
    }

    .header-title_container {
        padding-left: 346px;
    }

    .header_title_text {
        font-size: 50px;
        margin-bottom: 52px;
    }

    .header_appeal {
        font-size: 16px;
        line-height: 22px;
    }
}